@model IEnumerable<SWAT.Models.tblSTDNT_LOCAL>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrevLName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpecialNeeds)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpecialNeedsNotes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SWMailbox)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentStreet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentZip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SummerContactYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SummerStreet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SummerCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SummerState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SummerZip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PermanentStreet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PermanentCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PermanentState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PermanentZip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CellPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkPhoneExtension)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomePhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomePhoneExtension)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PermanentPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PermanentPhoneExtension)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SummerPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SummerPhoneExtension)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WIBackgroundComp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WIBackgroundCheckYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WIDiscrepancy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OOSBackgroundComp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OOSBackgroundCheckYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OOSDiscrepancy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OOSBackgroundCheckState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BackgroundCheckComment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AlumniTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AlumniCompany)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentEmployment_1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentEmployment_2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentEmploymentAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IVE_Student)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IVE_EMail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IVE_Phone1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IVE_Phone2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PreviousEmployer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfyears)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeofEmployment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentAdded)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentUpdated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VetranStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Exemptions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GridInfo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PT_StudentGroup)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdvSt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FocusArea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.studentPhotoLoc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.currentProgram)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isSchoolSocialWork)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.resCounty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_String)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MSW_Ant_GradTerm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isProspective)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FocusAreaUpdated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.upsized_ts)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblAdvisor_Note.Note_Text)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrevLName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SpecialNeeds)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SpecialNeedsNotes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SWMailbox)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentStreet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentCity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentState)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentZip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SummerContactYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SummerStreet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SummerCity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SummerState)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SummerZip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PermanentStreet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PermanentCity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PermanentState)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PermanentZip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CellPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkPhoneExtension)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HomePhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HomePhoneExtension)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PermanentPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PermanentPhoneExtension)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SummerPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SummerPhoneExtension)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WIBackgroundComp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WIBackgroundCheckYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WIDiscrepancy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OOSBackgroundComp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OOSBackgroundCheckYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OOSDiscrepancy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OOSBackgroundCheckState)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BackgroundCheckComment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AlumniTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AlumniCompany)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentEmployment_1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentEmployment_2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentEmploymentAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IVE_Student)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IVE_EMail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IVE_Phone1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IVE_Phone2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PreviousEmployer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfyears)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeofEmployment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentAdded)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentUpdated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VetranStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Exemptions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GridInfo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PT_StudentGroup)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdvSt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FocusArea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.studentPhotoLoc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.currentProgram)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isSchoolSocialWork)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.resCounty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_String)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MSW_Ant_GradTerm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isProspective)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FocusAreaUpdated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.upsized_ts)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblAdvisor_Note.Note_Text)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
