@model IEnumerable<BandCentral.ViewModels.BandViewModel>

@{
    ViewBag.Title = "Bands";
}

<h2>Bands</h2>

<p class="text-danger">@ViewBag.ErrorMessage</p>
<p class="text-success">@ViewBag.SuccessMessage</p>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BandName)
        </th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BandName)
        </td>
        <td>
            @if (item.isFavorited)
            {
                @Html.ActionLink("Remove Favorite", "RemoveFavorite", new { id = item.Id }, new { @class = "btn btn-default btn-danger" })
            }
            else
            {
                @Html.ActionLink("Add Favorite", "AddFavorite", new { id = item.Id }, new {@class = "btn btn-default btn-success" })
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.Id  }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
