@model IEnumerable<SWAT.Models.tblSTDNT>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CAMPUS_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FERPA_FLAG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DECEASED_IND)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WITHDREW_IND)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WITHDREW_REASON)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WITHDREW_DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRIMARY_ACADEMIC_GROUP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ACADEMIC_LEVEL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ACADEMIC_LEVEL_PROJ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ACADEMIC_LEVEL_EOT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CAREER_TYPE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CAREER)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GENDER)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AGE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CITIZEN_IND)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CITIZEN_STATUS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RESIDENCY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TUITION_RESIDENCY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VISA_PERMIT_TYPE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VISA_PERMIT_NUMBER)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.COUNTRY_OF_CITIZENSHIP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.COUNTRY_OF_CITIZENSHIP_DESCR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.COUNTRY_OF_BIRTH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.COUNTRY_OF_BIRTH_DESCR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRIMARY_SUPPORT_DESCR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SECONDARY_SUPPORT_DESCR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MARITAL_STATUS_DESCR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VETERAN_STATUS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DIVERSITY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DIVERSITY_DESCR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ETHNIC_GROUP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ETHNIC_GROUP_DESCR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MINORITY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TARGETED_MINORITY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ACADEMIC_LOAD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ADMIT_TYPE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ACADEMIC_ADVANCEMENT_PROG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DISSERTATOR_IND)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HIGH_SCHOOL_CODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HIGH_SCHOOL_PERCENTILE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MATRICULATION_TERM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DEG_EXPECTED)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TERM_CREDITS_TOTAL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TERM_TAKEN_CREDITS_TOTAL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TERM_TAKEN_CREDITS_GPA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TERM_TAKEN_CREDITS_NOGPA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TERM_TAKEN_CREDITS_PROGRESS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TERM_TAKEN_CREDITS_PROG_GRAD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TERM_INPROG_CREDITS_TOTAL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TERM_INPROG_CREDITS_GPA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TERM_INPROG_CREDITS_NOGPA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TERM_CREDITS_AUDIT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TERM_GRADE_POINTS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TERM_GPA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CUM_CREDITS_TOTAL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CUM_TAKEN_CREDITS_GPA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CUM_TRANSFER_CREDITS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CUM_TEST_CREDITS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CUM_OTHER_CREDITS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CUM_GRADE_POINTS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CUM_GPA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PREVIOUS_TERM_GPA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PREVIOUS_GPA_TERM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NEGATIVE_SERVICE_IND)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SEMESTER_HONORS1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SEMESTER_HONORS2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EXTRACT_DATE_TIME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.upsize_ts)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CAMPUS_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FERPA_FLAG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DECEASED_IND)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WITHDREW_IND)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WITHDREW_REASON)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WITHDREW_DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRIMARY_ACADEMIC_GROUP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ACADEMIC_LEVEL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ACADEMIC_LEVEL_PROJ)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ACADEMIC_LEVEL_EOT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CAREER_TYPE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CAREER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GENDER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AGE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CITIZEN_IND)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CITIZEN_STATUS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RESIDENCY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TUITION_RESIDENCY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VISA_PERMIT_TYPE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VISA_PERMIT_NUMBER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COUNTRY_OF_CITIZENSHIP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COUNTRY_OF_CITIZENSHIP_DESCR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COUNTRY_OF_BIRTH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COUNTRY_OF_BIRTH_DESCR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRIMARY_SUPPORT_DESCR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SECONDARY_SUPPORT_DESCR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MARITAL_STATUS_DESCR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VETERAN_STATUS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DIVERSITY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DIVERSITY_DESCR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ETHNIC_GROUP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ETHNIC_GROUP_DESCR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MINORITY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TARGETED_MINORITY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ACADEMIC_LOAD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ADMIT_TYPE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ACADEMIC_ADVANCEMENT_PROG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DISSERTATOR_IND)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HIGH_SCHOOL_CODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HIGH_SCHOOL_PERCENTILE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MATRICULATION_TERM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DEG_EXPECTED)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TERM_CREDITS_TOTAL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TERM_TAKEN_CREDITS_TOTAL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TERM_TAKEN_CREDITS_GPA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TERM_TAKEN_CREDITS_NOGPA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TERM_TAKEN_CREDITS_PROGRESS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TERM_TAKEN_CREDITS_PROG_GRAD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TERM_INPROG_CREDITS_TOTAL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TERM_INPROG_CREDITS_GPA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TERM_INPROG_CREDITS_NOGPA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TERM_CREDITS_AUDIT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TERM_GRADE_POINTS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TERM_GPA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CUM_CREDITS_TOTAL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CUM_TAKEN_CREDITS_GPA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CUM_TRANSFER_CREDITS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CUM_TEST_CREDITS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CUM_OTHER_CREDITS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CUM_GRADE_POINTS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CUM_GPA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PREVIOUS_TERM_GPA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PREVIOUS_GPA_TERM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NEGATIVE_SERVICE_IND)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SEMESTER_HONORS1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SEMESTER_HONORS2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EXTRACT_DATE_TIME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.upsize_ts)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
